:root {
  --photon-blue: #2388fe;
  --photon-purple: #231c44;
  --photon-light: #f5f4fa;
  --photon-dark: #1b1c2c;
  --photon-very-dark: #0e0e1d;
  --photon-white: #d0cffa;
  --photon-light-blue: #a9c2fe;
  --photon-shadow: #121123;
  --photon-gray: #666;
}
